html, body {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
    font-family: 'Covered By Your Grace', cursive;
}

h1, h2, h3 {
  text-align: center;
}

.navbar {
  background-color: transparent;
  border-color: transparent;
  transition: 0.5s ease 0s;
}

.navbar.scrolling {
  background-color: #326273;
  padding: 1rem 0rem;
}

.navbar-default .navbar-brand {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 3rem;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li a {
color: black;
}

.navbar-default .navbar-nav>li a:hover, .navbar-default .navbar-nav>li a:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #326273;
}

.navbar-default.scrolling .navbar-brand, .navbar-default.scrolling .navbar-nav>li a {
color: white;
}

.navbar-default.scrolling .navbar-nav>li a:hover, .navbar-default.scrolling .navbar-nav>li a:focus, .navbar-default.scrolling .navbar-brand:hover, .navbar-default.scrolling .navbar-brand:focus {
  color: #c8dfe6;
}

.jumbotron {
  text-align: center;
  min-height: 100vh;
  background-color: #edf5f3;
  background: url(background.jpg) 50% 0 fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.jumbotron h1 {
  font-size: 10rem;
}

.heading {
  float: right;
}

span.color-1 {
  color: #326273;
}

span.color-2 {
  color: #e39774;
}

.homepage-section {
  min-height: 100vh;
  padding: 51px 0px;
}

.homepage-section h2 {
 font-size: 5rem;
}

.odd {
  background-color: #326273;
  color: white;
}

.even {
  background-color: white;
  color: black;
}

.btn.color-1 {
  background-color: transparent;
  border: 1px solid #326273;
  transition: 0.2s ease 0s;
  color: #326273;
  border-radius: 0;
}

.btn.color-1:hover, .btn.color-1:focus {
  background-color: #326273;
  border: 1px solid #326273;
  transition: 0.2s ease 0s;
  color: white;
  border-radius: 0;
}
form {
  text-align: center;
}

ul#signup {
  list-style-type: none;
}

.span3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.su {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}

.btn btn-primary {
  margin: 0 auto;
  width: 180px;
  font-size: 16px;
  height: 75px;
  width: 75px;
}

div#mentors, div#mentees {
  font-size: 22px;
}


