
h2 {
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Patua One', cursive;
	font-size: 24px;
}
ul {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 2.0;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	list-style-type: none;
}